<mat-toolbar class="simple-toolbar">
    <span>Example filters</span>
    <button class="show-simple" mat-raised-button (click)="showSample()">show code sample</button>
</mat-toolbar>

<ngx-table-builder #table [source]="data" [enable-filtering]="true">
    <ngx-options [sortable]="true" [filterable]="true"></ngx-options>
    <ngx-source-null>Loading...</ngx-source-null>
    <ngx-empty>Not found</ngx-empty>

    <ngx-header [css-class]="['my-filter']" height="65">
        <div class="filter-form">
            <mat-form-field appearance="outline">
                <mat-label>Filter</mat-label>
                <input
                    matInput
                    name="width"
                    autocomplete="off"
                    [(ngModel)]="table.filterable.filterValue"
                    (ngModelChange)="table.filter()"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field class="filter-options" appearance="outline">
                <mat-label>Find options</mat-label>
                <mat-select [(value)]="table.filterable.filterType" (valueChange)="table.filter()">
                    <mat-option *ngFor="let type of table.filterable.types | keyvalue" [value]="type.value">
                        {{ type.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ngx-header>

    <ngx-filter #filter>
        <div class="my-filter">
            <mat-form-field appearance="outline">
                <mat-label>Find options</mat-label>
                <mat-select
                    (openedChange)="filter.preventClose()"
                    [(value)]="table.filterable.filterTypeDefinition[filter.state.key]"
                    (valueChange)="table.filter()"
                >
                    <mat-option *ngFor="let type of table.filterable.types | keyvalue" [value]="type.value">
                        {{ type.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Filter by {{ filter.state.key | uppercase }}</mat-label>
                <input
                    matInput
                    name="width"
                    autocomplete="off"
                    [(ngModel)]="table.filterable.definition[filter.state.key]"
                    (ngModelChange)="table.filter()"
                />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </ngx-filter>

    <ngx-footer>
        <p style="padding: 3px 0 0 20px">
            <b>Size</b>: {{ table.source?.length }} x {{ table?.displayedColumns?.length }}
        </p>
    </ngx-footer>
</ngx-table-builder>
