<mat-toolbar class="simple-toolbar">
    <span>
        Example resizing
        <span *ngIf="table.isRendered"> ({{ table.source?.length }}x{{ table.displayedColumns?.length }})</span>
    </span>
    <button class="show-simple" mat-raised-button (click)="showSample()">show code sample</button>
</mat-toolbar>

<b>Default col width</b>: 150px
<br />
<br />

<ngx-table-builder
    #table
    [source]="data"
    [column-width]="150"
    [exclude-keys]="['guid']"
    (schemaChanges)="updatedSchema($event)"
>
    <!--
       <ngx-options /> - declaration common options for columns

       Also you can customize your columns manually
       <ngx-column key="myKey" [resizable]="true">...</ngx-column>
    -->
    <ngx-options [resizable]="true"></ngx-options>
</ngx-table-builder>
