<mat-drawer-container class="dashboard">
    <mat-drawer mode="side" class="dashboard__menu" opened>
        <mat-toolbar class="title">Table builder</mat-toolbar>

        <mat-list class="menu">
            <mat-list-item class="menu__item">
                <a routerLink="samples/first">Simple table</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content class="dashboard__content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
