<mat-toolbar class="simple-toolbar">
    <span>Special cases in the model</span>
</mat-toolbar>

<div class="column-samples">
    <div class="column">
        <pre><code class="javascript">
  // app.component.ts
  import &#123; Component } from "@angular/core";
  import &#123; Pizza } from "./pizza.interface";

  @Component(&#123;
    selector: 'app',
    templateUrl: './app.component.html'
  })
  export class AppComponent &#123;
    public keys: string[] = ['prices.small', 'prices.medium', 'prices.large'];

    public pizzas: Pizza[] = [
        &#123;
            toppings: ['tomato sauce', 'mozzarella cheese'],
            prices: &#123;
              small: '5.00',
              medium: '6.00',
              large: '7.00'
            }
        },
        &#123;
            toppings: ['tomato sauce', 'mozzarella cheese', 'ham'],
            prices: &#123;
              small: '6.50',
              medium: '7.50',
              large: '8.50'
            }
        }
    ];
  }

</code></pre>
    </div>
    <div class="column">
        <pre><code class="javascript" ngNonBindable>
  &lt;!-- app.component.html -->

  &lt;ngx-table-builder [source]="data" [lazy]="false">
    &lt;ngx-column key="toppings">&lt;/ngx-column>

    &lt;ngx-column width="150" [key]="key" *ngFor="let key of keys">
      &lt;ng-template ngx-td let-cell>
          &#123;&#123; cell | currency &#125;&#125;
      &lt;/ng-template>
    &lt;/ngx-column>
  &lt;/ngx-table-builder>

</code></pre>

        <ngx-table-builder [source]="data" [lazy]="true">
            <ngx-column key="toppings"></ngx-column>

            <ngx-column *ngFor="let key of ['prices.small', 'prices.medium', 'prices.large']" [key]="key" width="150">
                <ng-template ngx-td let-cell>{{ cell | currency }}</ng-template>
            </ngx-column>
        </ngx-table-builder>

        <p>
            <strong>Note</strong>: If you want to override the template body of the table, you just use only ng-template
            with ngx-td. If you use templating, then you need to specify the keys (example with toppings) in the
            template in the order in which you want to display your columns.
        </p>

        <p>
            <strong>Note</strong>: As an example ([lazy]="false"), you can turn off asynchronous table rendering, and
            show it only when it has been formed.
        </p>
    </div>
</div>

<div class="column-samples">
    <div class="column">
        <ngx-table-builder [source]="elements" [auto-width]="true" [keys]="keys" [lazy]="true">
            <ngx-column key="date">
                <ng-template ngx-td let-date>
                    {{ date === '-' ? date : (date | date: 'dd.MM.yyyy HH:mm') }}
                </ng-template>
            </ngx-column>
        </ngx-table-builder>
        <br />

        <pre><code class="javascript" ngNonBindable>
   &lt;!-- app.component.html -->

   &lt;ngx-table-builder [keys]="keys" [source]="elements" [auto-width]="true" [lazy]="false">
     &lt;ngx-column key="date">
        &lt;ng-template ngx-td let-date>
          &#123;&#123; date === '-' ? date : (date | date: 'dd.MM.yyyy HH:mm') }}
        &lt;/ng-template>
     &lt;/ngx-column>
   &lt;/ngx-table-builder>

        </code></pre>
    </div>
    <div class="column">
        <pre><code class="javascript" ngNonBindable>
  // app.component.ts
  import &#123; Component } from "@angular/core";
  import &#123; Elements } from "./elements.interface";

  @Component(&#123;
    selector: 'app',
    templateUrl: './app.component.html' 
  })
  export class AppComponent &#123;
    public keys: string[] = ['position', 'name', 'date', 'symbol'];
    public elements: Elements[] = [
      &#123; position: null, name: 'Hydrogen', date: NaN, symbol: 'H' },
      &#123; position: 2, name: '', date: new Date(), symbol: undefined },
      &#123; position: 3, name: 'Lithium', date: Infinity, symbol: 'Li' },
      &#123; position: 4, name: 'Beryllium', date: 0, symbol: '    ' }
    ];
  }

</code></pre>

        <p>
            <strong>Note</strong>: By default, if the cell value is invalid, then the default separator is used. You can
            override or disable it in the module settings.
        </p>
    </div>
</div>
