<mat-toolbar class="simple-toolbar">
    <span>
        Example sorting
    </span>

    <button class="show-simple" mat-raised-button (click)="showSample()">show code sample</button>
</mat-toolbar>

<ngx-table-builder [source]="data" [sort-types]="{ id: 'desc' }">
    <ngx-empty>No data</ngx-empty>
    <ngx-source-null>Loading</ngx-source-null>

    <!--
       <ngx-options /> - declaration common options for columns

       Also you can customize your columns manually
       <ngx-column key="myKey" [sortable]="true">...</ngx-column>
    -->
    <ngx-options [sortable]="true"></ngx-options>
</ngx-table-builder>
