<mat-toolbar class="simple-toolbar">
    <span>Simple table ({{ simple?.length }}x{{ table?.columnKeys?.length }})</span>
    <mat-spinner *ngIf="loading" class="spinner" strokeWidth="5" [diameter]="30"></mat-spinner>
</mat-toolbar>

<form>
    <mat-form-field>
        <mat-label>Data size</mat-label>
        <mat-select [(value)]="dataSize" (selectionChange)="updateTable()">
            <mat-option value="10x5">10 x 5</mat-option>
            <mat-option value="100x20">100 x 20</mat-option>
            <mat-option value="1000x30">1000 x 30</mat-option>
            <mat-option value="10000x50">10 000 x 50</mat-option>
            <mat-option value="100000x100"><span class="red">100 000 x 100 (1.5Gb memory usage)</span></mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table width</mat-label>
        <label>
            <input matInput name="width" [(ngModel)]="width" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table height (px)</mat-label>
        <label>
            <input matInput name="height" [(ngModel)]="height" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table row height</mat-label>
        <label>
            <input matInput name="rowHeight" [(ngModel)]="rowHeight" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table cell width</mat-label>
        <label>
            <input matInput name="columnWidth" [(ngModel)]="columnWidth" />
        </label>
    </mat-form-field>
</form>

<div class="content">
    <ngx-table-builder
        #table
        [source]="simple"
        [width]="width"
        [height]="height"
        [row-height]="rowHeight"
        [column-width]="columnWidth"
    ></ngx-table-builder>
</div>
