<mat-toolbar class="simple-toolbar">
    <span>Simple table ({{ simple.length }}x{{ table.columnKeys.length }})</span>
</mat-toolbar>

<form>
    <mat-form-field>
        <mat-label>Table width</mat-label>
        <label>
            <input matInput name="width" [(ngModel)]="width" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table height (px)</mat-label>
        <label>
            <input matInput name="height" [(ngModel)]="height" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table row height</mat-label>
        <label>
            <input matInput name="rowHeight" [(ngModel)]="rowHeight" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Table cell width</mat-label>
        <label>
            <input matInput name="cellWidth" placeholder="max-content, auto, px" [(ngModel)]="cellWidth" />
        </label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Visible count columns</mat-label>
        <label>
            <input matInput name="visibleColumns" [(ngModel)]="visibleColumns" />
        </label>
    </mat-form-field>

    <mat-checkbox [checked]="nowrap" (change)="nowrap = $event.checked">Set nowrap</mat-checkbox>
</form>

<div class="content">
    <ngx-table-builder
        #table
        [source]="simple"
        [width]="width"
        [height]="height"
        [row-height]="rowHeight"
        [nowrap]="nowrap"
        [visible-columns]="visibleColumns"
        [cell-min-width]="cellWidth"
    ></ngx-table-builder>
</div>
